python_api/dataset
frontend_vue/plant_frontend/node_modules
frontend_vue/plant_frontend/.vscode
frontend_vue/plant_frontend/package-lock.json
backend_spring/demo/.idea
2025届毕业选题名单.xlsx
python_api/image
python_api/labels
python_api/models